<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>



<body>
    <div class="container">

        <!-- Title section -->
        <div class="title">Configuration Panel</div>

        <div class="content">
            <!-- Configuration form -->
            <form action="/display" method="POST" enctype="multipart/form-data">
                <div class="configuration-details">

                    <!-- Dataset file -->
                    <div class="input-box full-width">
                        <span class="details">Select dataset</span>
                        <div class="drop-zone" id="drop-zone">
                            <span class="drop-text">Drag & drop your CSV file here<br>or click to upload</span>
                            <input type="file" name="dataset" id="file-input" accept=".csv" required hidden>
                        </div>
                    </div>

                    <!-- Delay Controller -->
                    <div class="input-box">
                        <span class="details">Delay: <output id="delayValue">0.014627922</output></span>
                        <input type="range" name="delay" class="form-range" min="0.00" max="1.0" step="0.005"
                            value="0.014627922" oninput="delayValue.value = this.value">
                    </div>

                    <!-- Pure Data port -->
                    <div class="input-box">
                        <span class="details">Pure Data port</span>
                        <input type="number" placeholder="8888" name="port" required>
                    </div>
                </div>

                <div class="domain-selection">
                    <span class="gender-title">Analysis Domain</span>

                    <input type="radio" name="domain" id="time-domain" value="time" checked>
                    <input type="radio" name="domain" id="freq-domain" value="frequency">

                    <div class="category">
                        <label for="time-domain">
                            <span class="dot one"></span>
                            <span class="selection">Time Domain</span>
                        </label>

                        <label for="freq-domain">
                            <span class="dot two"></span>
                            <span class="selection">Frequency Domain</span>
                        </label>
                    </div>
                </div>

                <!-- Frequency Range  -->
                <div class="configuration-details" id="frequency-range" style="display: none;">
                    <div class="input-box">
                        <span class="details">Min Frequency (Hz)</span>
                        <input type="number" name="freq_min" placeholder="e.g. 100">
                    </div>

                    <div class="input-box">
                        <span class="details">Max Frequency (Hz)</span>
                        <input type="number" name="freq_max" placeholder="e.g. 1000">
                    </div>
                </div>

                <div class="configuration-details" id="rolling-window" style="display:none">
                    <div class="input-box">
                        <span class="details">Preferred Window Size</span>
                        <input type="number" placeholder="1500" name="window_size" required>
                    </div>
                </div>


                <!-- Submit button -->
                <div class="button">
                    <input type="submit" value="Initialise sonification">
                </div>
            </form>
        </div>
    </div>

    <script>
        const timeRadio = document.getElementById("time-domain");
        const freqRadio = document.getElementById("freq-domain");
        const freqRange = document.getElementById("frequency-range");
        const rollingWindow = document.getElementById("rolling-window");

        function toggleFrequencyInputs() {
            if (freqRadio.checked) {
                freqRange.style.display = "flex";
                rollingWindow.style.display = "none";
            } else {
                freqRange.style.display = "none";
                rollingWindow.style.display = "flex";
            }
        }

        toggleFrequencyInputs();

        timeRadio.addEventListener("change", toggleFrequencyInputs);
        freqRadio.addEventListener("change", toggleFrequencyInputs);

        const dropZone = document.getElementById("drop-zone");
        const fileInput = document.getElementById("file-input");


        dropZone.addEventListener("click", () => fileInput.click());

        dropZone.addEventListener("dragover", (e) => {
            e.preventDefault();
            dropZone.classList.add("dragover");
        });

        dropZone.addEventListener("dragleave", () => {
            dropZone.classList.remove("dragover");
        });

        dropZone.addEventListener("drop", (e) => {
            e.preventDefault();
            dropZone.classList.remove("dragover");

            const files = e.dataTransfer.files;
            if (files.length > 0) {
                fileInput.files = files;

                dropZone.querySelector(".drop-text").textContent = files[0].name;
            }

            const file = files[0];
            if (!file.name.endsWith(".csv")) {
                alert("Please upload a CSV file");
                return;
            }
        });

        fileInput.addEventListener("change", () => {
            if (fileInput.files.length > 0) {
                dropZone.querySelector(".drop-text").textContent = fileInput.files[0].name;
            }
        });
    </script>
    </script>
</body>

</html>